.block_radius_top_left {
  width: 152.345px;
  height: 147.865px;
  border-radius: 0px 20.09px 0px 0px;
  background: linear-gradient(180deg, #4CA757 0%, #16A571 100%);
  position: absolute;
  top: -147.865px;
}

.block_radius_bottom_left {
  width: 113.462px;
  height: 112.524px;
  border-radius: 0px 0px 20.09px 0px;
  opacity: 0.10000000149011612;
  background: #3A5469;
}

.block_radius_bottom_right {
  width: 188px;
  height: 143.384px;
  border-radius: 0px 0px 0px 20.09px;
  opacity: 0.10000000149011612;
  background: #3A5469;
}

.section {
  padding-top: 250px;
  position: relative;
  overflow: hidden;
}

.title {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 2.16px;
  text-transform: uppercase;
}

.el1 {
  width: 200px;
}

.el1>img {
  width: 100%;
}

h3 {
  color: #3A5469
}

h3>span {
  color: #4CA757;
}



h3,
h3>span {
  font-size: 46px;
  font-weight: 800;
  line-height: 56px;
}

.running_text>p {
  font-size: 100px;
  font-style: normal;
  font-weight: 800;
  line-height: 150px;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px #4CA757;
}

.running_text {
  white-space: nowrap;
  display: flex;
  gap: 2em;
  animation: RightToLef 1s linear infinite;
  -webkit-animation: RightToLef 10s linear infinite;
}

@keyframes RightToLef {
  from {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }

  to {
    transform: translateX(-70%);
    -webkit-transform: translateX(-70%);
    -moz-transform: translateX(-70%);
    -ms-transform: translateX(-70%);
    -o-transform: translateX(-70%);
}
}

.running_text>p>span {
  color: #4CA757;
  -webkit-text-stroke: 0px;
}

.icon_bg {
  position: absolute;
  inset: 0;
  z-index: -10;
}

.icon_bg_wrap {
  position: relative;
  inset: 0;
  width: 1000px;
  height: 1000px;
}

.icon_bg_wrap>img {
  /*filter: invert(0%) opacity(30%);
  -webkit-filter: invert(0%) opacity(30%);
  */
  position: absolute;
  display: block;
  bottom: -550px !important;

}


.icon_bg_wrap>img:nth-child(1) {
  bottom: 20px;
  left: 21%;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  z-index: -10;
}

.icon_bg_wrap>img:nth-child(2) {
  bottom: -4vh;
  left: -5vw;
  transform: rotate(-120deg);
  -webkit-transform: rotate(-120deg);
  -moz-transform: rotate(-120deg);
  -ms-transform: rotate(-120deg);
  -o-transform: rotate(-120deg);
  z-index: -10;
}

.icon_bg_wrap>img:nth-child(3) {
  bottom: -400px;
  left: 450px;
  transform: rotate(118deg);
  -webkit-transform: rotate(118deg);
  -moz-transform: rotate(118deg);
  -ms-transform: rotate(118deg);
  -o-transform: rotate(118deg);
  z-index: -10;
}

.btn {
  width: 143px;
  height: 143px;
  background: linear-gradient(180deg, #4CA757 0%, #16A571 100%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

@keyframes text {
  0% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
}

  100% {
    transform: translateX(-100%);
  }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .title {
    font-size: 16px;
  }

  h3,
  h3>span{
    font-size: 36px;
  }
  .block_radius_top_left {
    width: 112.345px;
    height: 107.865px;
    top: -107.865px;
  }
  
  .block_radius_bottom_left {
    width: 73.462px;
    height: 72.524px;
  }
  
  .block_radius_bottom_right {
    width: 148px;
    height: 103.384px;
  }
  
  .section {
    padding-top: 150px;
  }

  .btn{
    width: 103px;
    height: 103px;
  }

  .running_text>p{
    font-size: 50px;
    line-height: 100px;
  }
}
@media screen and (min-width: 375px) and (max-width: 768px){
  .title {
    font-size: 16px;
  }

  h3,
  h3>span{
    font-size: 36px;
  }
  .block_radius_top_left {
    width: 62.345px;
    height: 67.865px;
    top: -67.865px;
  }
  
  .block_radius_bottom_left {
    width: 43.462px;
    height: 42.524px;
  }
  
  .block_radius_bottom_right {
    width: 88px;
    height: 63.384px;
  }
  
  .section {
    padding-top: 50px;
  }

  .btn{
    width: 70px;
    height: 70px;
    color: #fff;
    font-size: 14px;
    padding: 10px;
  }

  .running_text>p{
    font-size: 36px;
    line-height: 60px;
  }
}