.section {
  background: linear-gradient(180deg, #4CA757 0%, #16A571 100%);
  color: white;
}

.arrow_btn>button {
  width: 60px;
  height: 60px;
  padding: 10px;
  border-radius: 90px;
  background: rgba(255, 255, 255, 0.10);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  -ms-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
}

.arrow_btn>button:hover {
  background: rgba(255, 255, 255, 0.80);
}

.arrow_btn>button:hover>img {
  filter: invert(70%) sepia(100%) saturate(2000%) hue-rotate(140deg);
  -webkit-filter: invert(70%) sepia(100%) saturate(2000%) hue-rotate(140deg);
}

.member {
  height: 299.964px;
}

.member>button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all linear 0.2s;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
}

.memberActive {
  background-color: white;
  width: 299.964px;
  height: 299.964px;
  display: inline-flex;
  box-shadow: 0px 0px 4px 6px rgba(0, 0, 0, 0.06);
}

.memberNotActive {
  width: 171.442px;
  height: 171.442px;
  background: linear-gradient(181deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.34) 100%);
  opacity: 0.9300000071525574;
}

.memberActive {
  margin-inline: 22px;
}

.memberActive:is(:last-child) {
  margin-right: 0px;
}

.memberActive:is(:first-child) {
  margin-left: 0px;
}

.textFormatted {
  text-transform: uppercase;
  opacity: 0.8999999761581421;
  background: linear-gradient(181deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  backdrop-filter: blur(2px);
  -webkit-text-stroke: 1px #fff;
  display: flex;
}

.textFormatted>span {}

.content {
  width: 420px;
  height: 100px;
  overflow: hidden;
  margin-block: 24px;
}

.inner {
  display: flex;
  flex-direction: column-reverse;
  white-space: normal;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  gap: 1em;
}

.inner>div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgActive{
  width: 200px;
}
.imgNotActive{
  width: 100px;
}

@media screen and (min-width: 1024px) and (max-width: 1300px){
  
}

@media screen and (min-width: 820px) and (max-width: 1023px) {
  .memberActive {
    width: 200px;
    height: 200px;
    ;
  }

  .imgActive{
    width: 160px;
  }
  .imgNotActive{
    width: 90px;
  }

  .memberNotActive {
    width: 130px;
    height: 130px;
  }

  .section {
    padding-block: 100px 76px;
  }

  .textFormatted {
    font-size: 105px;
    display: flex;
  }

  .textFormatted>span {
    font-size: 55px;
  }

}

.section {
  padding-block: 120px 96px;
}

.textFormatted {
  font-size: 125px;
  font-style: normal;
  font-weight: 700;
  display: flex;
}

.textFormatted>span {
  font-size: 75px;
  margin-top: 8px;
  margin-left: 6px;
}

@media screen and (min-width: 769px) and (max-width: 820px) {
  .section>.inner{
    width: 100% !important;
  }
  .memberActive {
    width: 200px;
    height: 200px;
    ;
  }

  .imgActive{
    width: 160px;
  }
  .imgNotActive{
    width: 90px;
  }

  .memberNotActive {
    width: 130px;
    height: 130px;
  }
}

@media screen and (min-width: 375px) and (max-width: 820px) {
  .number_count{
    grid-template-rows: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (min-width: 375px) and (max-width: 769px) {
  .number_count{
    grid-template-rows: repeat(2, minmax(0, 1fr));
  }

  .memberActive {
    width: 100px;
    height: 100px;
    ;
  }

  .imgActive{
    width: 80px;
  }
  .imgNotActive{
    width: 70px;
  }

  .memberNotActive {
    width: 80px;
    height: 80px;
  }
  .member{
    justify-content: space-between;
    align-items: center;
    height: 120px;
    margin-bottom: 20px;
    padding-block: 20px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1300px){
  .member{
    width: 100%;
  }
  .number_count{
    grid-template-rows: repeat(2, minmax(0, 1fr));
  }

  .memberActive {
    width: 180px;
    height: 180px;
    ;
  }

  .imgActive{
    width: 120px;
  }
  .imgNotActive{
    width: 70px;
  }

  .memberNotActive {
    width: 120px;
    height: 120px;
  }
}