.section {
  background-repeat: no-repeat;
  background-size: 100vw 100%;
  padding-block: 180px 60px;
}

.title {
  width: 364px;
  height: 200px;
}

.title>h3 {
  color: #376A66;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 2.16px;
  text-transform: uppercase;
}

.title>h2 {
  font-size: 60px;
  font-style: normal;
  font-weight: 800;
  line-height: 64px;
  letter-spacing: -3px;
  text-transform: capitalize;
  background: linear-gradient(180deg, #4CA757 0%, #16A571 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card_content {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: #fff
}

.card_content+div {
  background-color: rgba(0, 0, 0, 0.049);
}

.card_content+div>button {
  color: #fff;
  font-size: 26px;
  background-color: rgba(1, 1, 1, 0.406);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.text_rotate {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 30px;
  height: 100%;
}

.text_rotate>p {
  position: absolute;
  transform: rotate(-90deg);
  white-space: nowrap;
  bottom: 40%;
  right: -350%;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  color: #16A571;
  font-weight: 700;
  font-size: 18px;
}

.card_custom {
  width: 288px;
  height: 195.417px;
  background: linear-gradient(180deg, #4CA757 0%, #16A571 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}

.card_custom>h4 {
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 100px;
  letter-spacing: -2px;
  text-transform: uppercase;
}

.card_custom>h4>span {
  font-size: 61.48px;
  font-style: normal;
  font-weight: 700;
  display: inline-flex;
}

.card_custom>p {
  font-size: 15.102px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.btn{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 245px;
}

.btn > button{
  width: 143px;
  height: 143px;
  background: linear-gradient(180deg, #4CA757 0%, #16A571 100%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}

.running_text{
  margin-top: 50px;
}

.running_text>p {
  font-size: 100px;
  font-style: normal;
  font-weight: 800;
  line-height: 150px;
  text-transform: uppercase;
}


.running_text>p {
  color: transparent;
  -webkit-text-stroke: 1px #4CA757;
}

.running_text {
  white-space: nowrap;
  display: flex;
  gap: 2em;
  animation: RightToLef 1s linear infinite;
  -webkit-animation: RightToLef 10s linear infinite;
}

@keyframes RightToLef {
  from{
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}
  to{
    transform: translateX(-70%);
    -webkit-transform: translateX(-70%);
    -moz-transform: translateX(-70%);
    -ms-transform: translateX(-70%);
    -o-transform: translateX(-70%);
}
}

.running_text>p>span {
  color: #4CA757;
  -webkit-text-stroke: 0px;
}

@media screen and (min-width: 1025px) and (max-width: 1365px){
  .section{
    padding-block: 60px 20px;
    background-size: 100vw 100%;
  }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .running_text > p {
    font-size: 50px;
    line-height: 100px;
  }

  .section{
    padding-block: 60px 20px;
    background-size: 100vw 100%;
  }
}

@media screen and (max-width: 820px){
}

@media screen and (min-width: 375px) and (max-width: 768px) {
  .running_text > p {
    font-size: 36px;
    line-height: 60px;
  }

  .section{
    padding-block: 60px 20px;
    background-size: 100vw 100%;
  }

  .swiper_card{
    width: 295px;
    height: 313px;
  }
  .swiper_card > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media screen and (min-width: 376px) and (max-width: 912px){
  .card_content{
    inset: 0;
    left: 10px;
    bottom: 10px;
    font-size: 14px;
    font-weight: 600;
  }
}
