@font-face {
  font-family: 'Averta';
  src: url('../font/IntelligentRegular_3.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Averta';
  src: url('../font/IntelligentBold_1.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Averta';
  src: url('../font/IntelligentLight.otf') format('truetype');
  font-weight: light;
  font-style: normal;
}
